#!/usr/bin/make -f

%:
	dh $@ --with python3

# Override the clean step to prevent deletion of our pre-built 'dist' folder.
override_dh_auto_clean:

# Override the build step to do nothing, as 'make lin' already built the binary.
override_dh_auto_build:

# Override the install step to manually copy the pre-built files
# from the 'dist' directory into the Debian package structure.
override_dh_auto_install:
	# Create the target directory inside the package staging area.
	# The -p flag ensures parent directories are created if they don't exist.
	install -d -p debian/msxtileforge/usr/local/bin/
	
	# Use 'cp -a' to recursively copy the application files into the target directory.
	cp -a dist/msxtileforge/* debian/msxtileforge/usr/local/bin/